# Node
node_modules/
yarn.lock
npm-debug.log*

# React Native / Metro
.expo/
.expo-shared/
.bundle/
*.packager.map

# Android
android/app/build/
android/build/
*.iml
.gradle/
/local.properties
**/outputs/
**/intermediates/
**/generated/
**/tmp/

# iOS
ios/build/
ios/Pods/
*.xcworkspace/xcuserdata/
DerivedData/

# Artifacts
*.apk
*.aab
*.ipa
*.DS_Store

# Secrets / Keys
.env
android/app/keystore.properties
android/app/keystore.properties.bak
android/app/debug.keystore
android/app/workforce-release.keystore

# Coverage / Logs
coverage/
*.log
